---
import { cx } from "../lib/utils";
import Button from "./ui/Button.astro";
import Icon from "./Icon.astro";
import Heading from "./ui/Heading.astro";
import { ROUTES } from "../lib/routes";
import { Image } from "astro:assets";

// Assets
import codeApiImg from "../assets/images/code-api.svg";

export interface Props {
  class?: string;
  title?: string;
  description?: string;
}

const { class: className, title, description, ...rest } = Astro.props;

const classes = cx(className);
---

<div class={classes} {...rest}>
  <div
    class="flex flex-col lg:flex-row justify-between items-center py-8 px-4 lg:py-24 lg:px-12 rounded-2xl gap-6 bg-surface-dark overflow-hidden relative"
    style="background: radial-gradient(circle at 10% 20%, rgba(255, 255, 255, 0.15) 0%, transparent 100%), #0d0d0d;"
  >
    <div class="w-full lg:w-1/2 flex flex-col items-start gap-6">
      <Icon name="terminal-window" size={48} variant="secondary" />
      {
        title && (
          <Heading as="h2" variant="secondary">
            {title}
          </Heading>
        )
      }

      {
        description && (
          <p class="text-body-md text-surface-default leading-relaxed">
            {description}
          </p>
        )
      }
      <Button href={ROUTES.APIS.INDEX} variant="white" icon="arrow-right" 
        >Saiba Mais</Button
      >
    </div>

    <Image
      src={codeApiImg}
      alt="Código da API da Disparo Pro"
      class="w-full lg:w-1/2"
      width={600}
    />
    <slot />
  </div>
</div>
