---
import { ArrowRight } from "@lucide/astro";
import { cx } from "../lib/utils";
import Button from "./ui/Button.astro";
import Heading from "./ui/Heading.astro";
import { ROUTES } from "../lib/routes";

export interface Props {
  class?: string;
  title?: string;
  description?: string;
}

const { class: className, title, description, ...rest } = Astro.props;

const classes = cx(className);
---

<div class={classes} {...rest}>
  <div
    class="flex flex-col lg:flex-row justify-between items-center py-8 px-4 lg:py-24 lg:px-12 rounded-2xl gap-6 bg-surface-dark bg-[url(/images/bg-blur-api.webp)] bg-cover bg-center lg:bg-left bg-no-repeat overflow-hidden"
  >
    <div class="w-full lg:w-1/2 flex flex-col items-start gap-6">
      <img src="/icons/api.svg" alt="API da Disparo Pro" width="64" />
      {
        title && (
          <Heading as="h2" variant="secondary">
            {title}
          </Heading>
        )
      }

      {
        description && (
          <p class="text-body-md text-surface-default leading-relaxed">
            {description}
          </p>
        )
      }
      <Button href={ROUTES.APIS.INDEX} variant="white" icon={ArrowRight}>Saiba Mais</Button>
    </div>
    <img
      src="/images/code-api.svg"
      alt="Código da API da Disparo Pro"
      class="w-full lg:w-1/2"
    />
    <slot />
  </div>
</div>
