---
import type { BlogPost } from "../types/blog";
import { ROUTES } from "../lib/routes";
import { formatDate } from "../lib/utils";
import { Image } from "astro:assets";

export interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
---

<article class="flex flex-col overflow-hidden">
  <a href={ROUTES.BLOG.POST(post.slug)} class="shrink-0">
    {
      post.coverImage ? (
        <Image
          src={post.coverImage}
          alt={post.title}
          width={800}
          height={450}
          class="w-full h-40 md:h-52 object-cover rounded-lg"
        />
      ) : (
        <div class="w-full h-40 md:h-52 bg-surface-muted rounded-lg flex items-center justify-center text-text-tertiary">
          <span class="text-xs">Sem imagem</span>
        </div>
      )
    }
  </a>
  <div class="flex-1 p-4 flex flex-col gap-4">
    <p class="text-sm text-text-secondary">
      <a href={ROUTES.BLOG.CATEGORY(post.categorySlug)} class="hover:underline">
        {post.category}
      </a>
    </p>

    <a href={ROUTES.BLOG.POST(post.slug)}>
      <span class="leading-[1.1] text-body-md text-text-primary line-clamp-2">
        {post.title}
      </span>
    </a>

    <p class="text-sm text-text-secondary">
      <span class="font-bold">{post.author}</span>
      <time datetime={post.publishedAt}>
        {formatDate(post.publishedAt)}
      </time>
    </p>
  </div>
</article>
