---
import type { BlogPost } from "../types/blog";
import { ROUTES } from "../lib/routes";
import { formatDate } from "../lib/utils";
import Heading from "./ui/Heading.astro";

export interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
---

<article class="flex flex-col overflow-hidden">
  <a href={ROUTES.BLOG.POST(post.slug)} class="flex-shrink-0">
    <img
      src={post.coverImage}
      alt={post.title}
      class="w-full h-56 object-cover rounded-lg"
    />
  </a>
  <div class="flex-1 p-4 flex flex-col gap-4">
    <div class="flex-1">
      <p class="text-sm font-medium text-primary mb-2">
        <a href={ROUTES.BLOG.CATEGORY(post.category)} class="hover:underline">
          {post.category}
        </a>
      </p>
      <a href={ROUTES.BLOG.POST(post.slug)}>
        <span class="text-body-md text-color-text-primary line-clamp-2">
          {post.title}
        </span>
      </a>
    </div>
    <div>
      <p class="text-sm text-gray-900">
        <span class="font-bold">{post.author}</span>
        <time datetime={post.publishedAt}>
          {formatDate(post.publishedAt)}
        </time>
      </p>
    </div>
  </div>
</article>
