---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/ui/Section.astro";
import Heading from "../../components/ui/Heading.astro";
import Hero from "../../components/ui/Hero.astro";
import { ArrowRight } from "lucide-astro";
import Button from "../../components/ui/Button.astro";
import { ROUTES } from "../../lib/routes";
import Box from "../../components/ui/Box.astro";
import { Image } from "astro:assets";

// Assets
import heroImg from "../../assets/images/api-hero-image.webp";
import fastIcon from "../../assets/icons/fast.svg";
import dollarIcon from "../../assets/icons/dollar.svg";
import interfaceIcon from "../../assets/icons/interface.svg";
import verifyIcon from "../../assets/icons/verify.svg";
---

<BaseLayout
  seo={{
    title: "APIs da Disparo Pro",
    description: "Integre nossa API ao seu sistema!",
  }}
>
  <Hero
    id="apis"
    class="bg-surface-default relative overflow-hidden"
  >
  <!-- Glow roxo -->
    <div
      class="pointer-events-none absolute -bottom-[220px] left-2/6 w-[428px] h-[428px] rounded-full bg-brand-secondary blur-[100px]"
    >
    </div>

    <!-- Glow rosa -->
    <div
      class="pointer-events-none absolute -bottom-[364px] right-0 w-[800px] h-[800px] rounded-full bg-brand-primary blur-[100px]"
    >
    </div>
    <div
      class="w-full lg:w-1/2 flex flex-col items-start gap-6 md:gap-8 lg:gap-4 xl:gap-8 relative z-10"
    >
      <div class="flex flex-col gap-4 md:gap-6 lg:gap-4 xl:gap-6 items-start">
        <Heading as="h1">
          Integre SMS, WhatsApp, RCS e Voz ao seu sistema com uma única API
        </Heading>
        <p class="text-body-md text-text-secondary max-w-[500px]">
          Automatize a comunicação da sua empresa e envie mensagens diretamente
          do seu sistema, CRM ou plataforma.
        </p>
      </div>
      <Button variant="primary" icon={ArrowRight} href={ROUTES.CONTATO}
        >Integre agora</Button
      >
    </div>
    <div class="w-[90%] lg:w-[420px] relative z-10">
      <Image
        src={heroImg}
        alt="Plataforma Disparo Pro"
        class="w-auto h-auto"
        loading="eager"
        fetchpriority="high"
        width={420}
        format="webp"
        quality="mid"
      />
    </div>
  </Hero>

  <Section
    class="flex flex-col items-center justify-center"
    containerClass="flex flex-col gap-8 lg:gap-12"
  >
    <div
      class="mx-auto w-full xl:max-w-3/4 flex flex-col items-center justify-center text-center gap-4"
    >
      <Heading as="h2"
        >As melhores APIs do mercado para disparar mensagens em massa!</Heading
      >
      <p class="text-body-md text-text-secondary max-w-[500px]">
        Com as integrações da Disparo Pro, você amplia suas operações sem
        esforço:
      </p>
    </div>

    <div class="flex flex-col gap-4 lg:grid lg:grid-cols-4 lg:gap-5">
      <Box
        variant="secondary"
        icon={fastIcon}
        title="Integração simples"
        description="Conecte seu sistema rapidamente com documentação completa."
      />
      <Box
        variant="secondary"
        icon={dollarIcon}
        title="Zero mensalidade"
        description="Integre gratuitamente e pague apenas pelos envios realizados."
      />
      <Box
        variant="secondary"
        icon={interfaceIcon}
        title="Multicanal"
        description="Envie SMS, WhatsApp, RCS e Disparos de Voz com uma única API."
      />
      <Box
        variant="secondary"
        icon={verifyIcon}
        title="Dados confiáveis"
        description="Acompanhe status de envio e desempenho das mensagens em tempo real."
      />
    </div>
  </Section>
</BaseLayout>
