---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/ui/Section.astro";
import Heading from "../../components/ui/Heading.astro";
import Hero from "../../components/ui/Hero.astro";
import { ArrowRight } from "lucide-astro";
import Button from "../../components/ui/Button.astro";
import { ROUTES } from "../../lib/routes";
import Box from "../../components/ui/Box.astro";
import InteractiveFeature from "../../components/ui/InteractiveFeature.astro";
import ApiSection from "../../components/ApiSection.astro";
import SlideBoxSteps from "../../components/SlideBoxSteps.astro";
import TestimonialDiv from "../../components/TestimonialDiv.astro";
import { Image } from "astro:assets";

// Assets
import heroImg from "../../assets/images/sms-hero-image.webp";
import usersIcon from "../../assets/icons/users.svg";
import dollarIcon from "../../assets/icons/dollar.svg";
import verifyIcon from "../../assets/icons/verify.svg";
import promotionIcon from "../../assets/icons/promotion.svg";
import receiptIcon from "../../assets/icons/receipt.svg";
import hospitalIcon from "../../assets/icons/hospital.svg";

// Mockups
import smsBetImg from "../../assets/images/mockups/sms-bet.webp";
import smsConsignadoImg from "../../assets/images/mockups/sms-consignado.webp";
import smsCobrancaImg from "../../assets/images/mockups/sms-cobranca.webp";
import smsClinicasImg from "../../assets/images/mockups/sms-clinicas.webp";
---

<BaseLayout
  seo={{
    title: "Disparo de SMS",
    description: "Alcance até 98% dos seus clientes com Disparo de SMS!",
  }}
>
  <Hero
    id="disparo-de-sms"
    class="bg-surface-default relative overflow-hidden"
  >
    <!-- Glow roxo -->
    <div
      class="pointer-events-none absolute -bottom-[50px] left-[5%] w-[150px] h-[150px] md:w-[428px] md:h-[428px] rounded-full bg-brand-secondary blur-[50px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>

    <!-- Glow rosa -->
    <div
      class="pointer-events-none absolute -bottom-[80px] right-[5%] w-[200px] h-[200px] md:w-[800px] md:h-[800px] rounded-full bg-brand-primary blur-[70px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>
    <div
      class="w-full lg:w-1/2 flex flex-col items-start gap-6 md:gap-8 lg:gap-4 xl:gap-8 relative z-10"
    >
      <div class="flex flex-col gap-4 md:gap-6 lg:gap-4 xl:gap-6 items-start">
        <Heading as="h1">
          Alcance até 98% dos seus clientes com Disparo de SMS!
        </Heading>
        <p class="text-body-md text-text-secondary max-w-[500px]">
          Impulsione a comunicação do seu negócio<br /> com envio de SMS em massa.
        </p>
      </div>
      <Button variant="primary" icon={ArrowRight} href={ROUTES.CONTATO}
        >Experimente agora!</Button
      >
    </div>
    <div class="w-[90%] lg:w-[420px] relative z-10">
      <Image
        src={heroImg}
        alt="Plataforma Disparo Pro"
        class="w-auto h-auto"
        loading="eager"
        fetchpriority="high"
        width={420}
        format="webp"
        quality="mid"
      />
    </div>
  </Hero>

  <Section
    class="flex flex-col items-center justify-center"
    containerClass="flex flex-col gap-8 lg:gap-12"
  >
    <div
      class="mx-auto w-full xl:max-w-3/4 flex flex-col items-center justify-center text-center gap-4"
    >
      <Heading as="h2"
        >O SMS é o canal mais eficiente para comunicar o seu negócio</Heading
      >
      <p class="text-body-md text-text-secondary max-w-[500px]">
        Simples, rápido e com altas taxas de alcance, o SMS oferece excelentes
        resultados com um ótimo custo-benefício.
      </p>
    </div>

    <div class="flex flex-col gap-4 lg:grid lg:grid-cols-3 lg:gap-5">
      <Box
        variant="primary"
        icon={usersIcon}
        title="98%"
        description="das pessoas lêem um SMS em até  3 minutos"
      />
      <Box
        variant="primary"
        icon={dollarIcon}
        title="96%"
        description="mais barato que os meios de comunicação tradicionais"
      />
      <Box
        variant="primary"
        icon={verifyIcon}
        title="45%"
        description="de conversão, com até 500% de retorno sobre o investimento"
      />
    </div>
  </Section>

  <Section
    containerClass="flex flex-col items-center justify-center gap-8 lg:gap-12"
  >
    <div
      class="mx-auto w-full xl:max-w-3/4 flex flex-col gap-4 lg:gap-6 items-center justify-center"
    >
      <Heading as="h2" class="text-center"
        >Na Disparo Pro, você não precisa ser um especialista para disparar SMS
        em massa!</Heading
      >
      <p class="text-body-md text-text-secondary text-center">
        Na Disparo Pro, criar suas jornadas de comunicação é fácil e intuitivo.
        Confira o passo a passo:
      </p>
      <Button variant="primary" icon={ArrowRight} href={ROUTES.LOGIN}
        >Conheça a plataforma!</Button
      >
    </div>

    <SlideBoxSteps />
  </Section>

  <Section containerClass="flex flex-col gap-6 lg:gap-12">
    <div class="flex flex-col gap-4 lg:gap-6">
      <Heading as="h2"
        >Com SMS, você melhora sua comunicação em diferentes segmentos de
        mercado</Heading
      >
    </div>
    <InteractiveFeature
      items={[
        {
          icon: dollarIcon,
          title: "Betting",
          description: "Alcance apostadores com áudios de influencers.",
          image: smsBetImg,
        },
        {
          icon: promotionIcon,
          title: "Crédito Consignado",
          description: "Divulgue ofertas e diferenciais unindo Voz e SMS.",
          image: smsConsignadoImg,
        },
        {
          icon: receiptIcon,
          title: "Cobrança",
          description: "Reduza a inadimplência com lembretes certeiros.",
          image: smsCobrancaImg,
        },
        {
          icon: hospitalIcon,
          title: "Clínicas",
          description: "Garanta 100% de presença com lembretes de Voz.",
          image: smsClinicasImg,
        },
      ]}
      buttonText="Desbrave possibilidades!"
      buttonHref={ROUTES.CONTATO}
    />
  </Section>

  <Section>
    <TestimonialDiv />
  </Section>

  <Section>
    <ApiSection
      title="Integre nossa API de SMS ao seu sistema!"
      description="Com Disparo Pro, você tem acesso a uma API de SMS com integração facilitada e zero mensalidade."
    />
  </Section>
</BaseLayout>
