---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/ui/Hero.astro";
import Button from "../../components/ui/Button.astro";
import { ROUTES } from "../../lib/routes";
import Heading from "../../components/ui/Heading.astro";
import Section from "../../components/ui/Section.astro";
import Box from "../../components/ui/Box.astro";
import InteractiveFeature from "../../components/ui/InteractiveFeature.astro";
import ChannelHighlight from "../../components/ui/ChannelHighlight.astro";
import ApiSection from "../../components/ApiSection.astro";
import Faq from "../../components/ui/Faq.astro";
import SecondaryHeader from "../../components/SecondaryHeader.astro";
import { Image } from "astro:assets";

// Assets
import heroImg from "../../assets/images/rcs-hero-image.webp";
import rcsImg from "../../assets/images/rcs.webp";

// Mockups
import rcsBasicImg from "../../assets/images/mockups/rcs-basic.webp";
import rcsSingleImg from "../../assets/images/mockups/rcs-single.webp";
import rcsEcommerceImg from "../../assets/images/mockups/rcs-e-commerce.webp";
import rcsSaudeImg from "../../assets/images/mockups/rcs-saude.webp";
import rcsEducacaoImg from "../../assets/images/mockups/rcs-educacao.webp";
import rcsInfoprodutorImg from "../../assets/images/mockups/rcs-infoprodutor.webp";
---

<BaseLayout
  seo={{
    title: "RCS",
    description: "Acelere conversões com mensagens interativas e multimídia.",
  }}
>
  <Hero id="rcs" class="bg-surface-default relative overflow-hidden">
    <!-- Glow roxo -->
    <div
      class="pointer-events-none absolute -bottom-[50px] md:-bottom-[220px] left-[5%] md:left-2/6 w-[150px] h-[150px] md:w-[428px] md:h-[428px] rounded-full bg-brand-secondary blur-[50px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>

    <!-- Glow rosa -->
    <div
      class="pointer-events-none absolute -bottom-[80px] md:-bottom-[364px] right-[5%] md:right-0 w-[200px] h-[200px] md:w-[800px] md:h-[800px] rounded-full bg-brand-primary blur-[70px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>
    <div
      class="w-full lg:w-1/2 flex flex-col items-start gap-6 md:gap-8 lg:gap-4 xl:gap-8 relative z-10"
    >
      <div class="flex flex-col gap-4 md:gap-6 lg:gap-4 xl:gap-6 items-start">
        <Heading as="h1"> Transforme leads em clientes com RCS! </Heading>
        <p class="text-body-md text-text-secondary max-w-[500px]">
          Acelere conversões com mensagens interativas<br /> e multimídia.
        </p>
      </div>
      <Button variant="primary" icon="arrow-right" href={ROUTES.CONTATO}
        >Experimente agora!</Button
      >
    </div>
    <div class="w-[90%] lg:w-[420px] relative z-10">
      <Image
        src={heroImg}
        alt="Plataforma Disparo Pro"
        class="w-auto h-auto"
        loading="eager"
        fetchpriority="high"
        width={420}
        format="webp"
        quality="mid"
      />
    </div>
  </Hero>

  <SecondaryHeader variant="cta" />

  <Section
    class="flex flex-col items-center justify-center"
    containerClass="flex flex-col gap-8 lg:gap-12"
  >
    <div class="flex flex-col items-center justify-center text-center gap-4">
      <Heading as="h2">SMS 2.0: conheça o RCS</Heading>
      <p class="text-body-md text-text-secondary">
        Ideal para converter rapidamente, o RCS é a evolução do SMS. Com ele,
        você dispara mensagens rápidas sem abrir mão da interatividade.
      </p>
    </div>

    <div class="flex flex-col gap-4 lg:grid lg:grid-cols-3 lg:gap-5">
      <Box
        variant="secondary"
        icon="seal-check"
        title="Validação de Marca"
        description="Sua marca verificada garante segurança e credibilidade desde o primeiro contato"
      />
      <Box
        variant="secondary"
        icon="layout"
        title="Branding Personalizado"
        description="Adicione logotipo, nome e cores para reforçar a identidade visual da sua marca"
      />
      <Box
        variant="secondary"
        icon="lightning"
        title="Botões Interativos"
        description="Facilite cliques, compras e respostas rápidas com botões projetados para engajamento"
      />
      <Box
        variant="secondary"
        icon="image"
        title="Imagens e Vídeos"
        description="Torne suas mensagens mais atraentes com imagens e vídeos envolventes"
      />
      <Box
        variant="secondary"
        icon="terminal-window"
        title="API Integrada"
        description="Conecte seus sistemas à nossa plataforma com uma AP! completa e facilitada"
      />
      <Box
        variant="secondary"
        icon="chat-circle-dots"
        title="Respostas Diretas"
        description="Estabeleça diálogos diretos com o cliente com respostas fáceis de receber e visualizar"
      />
    </div>
  </Section>

  <Section containerClass="flex flex-col gap-6 lg:gap-12">
    <div class="flex flex-col gap-4 lg:gap-6">
      <Heading as="h2">Escolha o formato ideal para seu RCS!</Heading>
    </div>
    <InteractiveFeature
      items={[
        {
          icon: "chat-circle-dots",
          title: "RCS Basic",
          description:
            "Mensagens rápidas e diretas, ideais para confirmações, lembretes e notificações. Limite de 160 caracteres.",
          image: rcsBasicImg,
        },
        {
          icon: "image",
          title: "RCS Single",
          description:
            "Mensagens completas para campanhas de marketing, com até 3072 caracteres, imagens, botões e links interativos.",
          image: rcsSingleImg,
        },
      ]}
      buttonText="Crie sua conta agora!"
      buttonHref={ROUTES.LOGIN}
    />
  </Section>

  <div class="bg-surface-muted w-full">
    <Section>
      <div class="flex flex-col gap-6 lg:gap-12">
        <Heading as="h2"
          >Com o RCS da Disparo Pro, sua marca já chega validada e pronta para
          converter!</Heading
        >
        <ChannelHighlight
          items={[
            {
              icon: "seal-check",
              title: "Confiabilidade",
              description:
                "Sua marca já chega com a validação do Google, transmitindo confiança desde o primeiro contato",
            },
            {
              icon: "chart-line-up",
              title: "Resultados mensuráveis",
              description:
                "Métricas detalhadas de entrega, abertura e interação para otimizar suas campanhas",
            },
            {
              icon: "lightning",
              title: "Simplicidade",
              description:
                "Ative e envie mensagens em poucos passos, sem precisar de suporte técnico especializado",
            },
          ]}
          imageSrc={rcsImg}
          imageAlt="RCS"
          buttonText=" Receba um contato"
          buttonHref={ROUTES.CONTATO}
        />
      </div>
    </Section>
  </div>

  <Section containerClass="flex flex-col gap-6 lg:gap-12">
    <div class="flex flex-col gap-4 lg:gap-6">
      <Heading as="h2"
        >O RCS impulsiona sua comunicação em diferentes negócios!</Heading
      >
    </div>
    <InteractiveFeature
      items={[
        {
          icon: "tag",
          title: "E-Commerce",
          description:
            "Ofertas, anúncios e recuperação de carrinhos abandonados.",
          image: rcsEcommerceImg,
        },
        {
          icon: "hospital",
          title: "Saúde",
          description: "Confirmações, cobranças, lembretes e mais.",
          image: rcsSaudeImg,
        },
        {
          icon: "student",
          title: "Educação",
          description: "Lembretes, comunicados, cobranças e mais.",
          image: rcsEducacaoImg,
        },
        {
          icon: "layout",
          title: "Infoprodutores",
          description:
            "Ofertas exclusivas, convites para lives, lançamentos e mais.",
          image: rcsInfoprodutorImg,
        },
      ]}
      buttonText="Crie sua conta agora!"
      buttonHref={ROUTES.LOGIN}
    />
  </Section>

  <Section>
    <ApiSection
      title="Integre nossa API de RCS ao seu sistema!"
      description="Com Disparo Pro, você tem acesso a uma API de RCS com integração facilitada."
    />
  </Section>

  <Section>
    <Faq
      title="Perguntas Frequentes"
      description="Tudo o que você precisa saber sobre RCS."
      items={[
        {
          question: "O que é necessário para começar com o RCS?",
          answer:
            "Para começar com o RCS na Disparo Pro, basta criar sua conta na plataforma e realizar a ativação para validar o uso do RCS. É importante que sua empresa tenha um site ativo com Termos de Uso e Políticas de Privacidade publicados. Nosso time de especialistas está à disposição para orientar você em cada etapa, garantindo uma ativação simples e rápida.",
        },
        {
          question: "Qual a diferença entre RCS e SMS?",
          answer:
            "O SMS é uma tecnologia mais simples, usada para envio de mensagens de texto com limite de 160 caracteres. Já o RCS vai muito além, permitindo mensagens com até 3072 caracteres, além de incorporar imagens, vídeos, botões clicáveis e links personalizados. Com o RCS, suas campanhas se tornam interativas e envolventes, proporcionando uma experiência que atende às expectativas dos consumidores modernos e amplia o potencial de conversão.",
        },
        {
          question: "Quais dispositivos e operadoras suportam o RCS?",
          answer:
            "O RCS é compatível com a maioria dos dispositivos Android e IOS, desde que estejam conectados a operadoras que oferecem suporte à tecnologia. Para garantir a compatibilidade, nossa equipe está disponível para ajudar você a entender quais segmentos do seu público podem ser alcançados por meio do RCS.",
        },
        {
          question:
            "Disparos em massa com RCS podem ser bloqueados ou levar à suspensão de conta?",
          answer:
            "Na Disparo Pro, suas campanhas são protegidas contra bloqueios indevidos. Antes do envio, todas as mensagens passam por uma verificação interna para evitar golpes e fraudes, garantindo uma experiência segura para sua empresa e seus clientes. Diferente de outras plataformas, como o WhatsApp, onde denúncias podem levar à suspensão da conta, aqui você tem mais segurança e controle, sem o risco de perder sua conta. Nossa prioridade é oferecer um ambiente confiável para que suas campanhas alcancem os melhores resultados.",
        },
        {
          question:
            "O que acontece se eu enviar uma mensagem a um número sem suporte a RCS?",
          answer:
            "Se o número do destinatário não for compatível com o RCS, o sistema faz a adaptação automática para garantir a entrega da mensagem. Mensagens do tipo RCS Basic são enviadas como SMS padrão, mantendo o mesmo custo. Já as mensagens RCS Single, que incluem imagens e elementos ricos, são direcionadas para uma lista específica de contatos sem suporte, para que você possa criar campanhas exclusivas em SMS para esse público, otimizando a comunicação e o investimento.",
        },
        {
          question: "Por que usar o RCS?",
          answer:
            "O RCS combina a confiabilidade do SMS com recursos interativos e segurança avançada. É o único canal 100% verificado, homologado pelas principais operadoras (TIM, Vivo e Claro), garantindo que seu cliente saiba que está falando com sua empresa, evitando golpes. Somente empresas verificadas podem enviar mensagens via RCS, que chegam em uma janela exclusiva com perfil da marca, incluindo nome, logo e cartão de visitas digital, aumentando a confiança do consumidor. Além disso, todas as mensagens são criptografadas, protegendo a privacidade e os dados em cada contato.",
        },
        {
          question: "Como acompanho o resultado das campanhas?",
          answer:
            "A plataforma da Disparo Pro oferece relatórios detalhados para monitorar o desempenho de suas campanhas em tempo real. Você pode acessar dados como taxas de entrega, cliques em links, interações com botões e outras métricas importantes. Esses insights ajudam você a otimizar suas estratégias e obter melhores resultados.",
        },
      ]}
    />
  </Section>
</BaseLayout>
