---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/ui/Section.astro";
import Heading from "../../components/ui/Heading.astro";
import Hero from "../../components/ui/Hero.astro";
import Button from "../../components/ui/Button.astro";
import { ROUTES } from "../../lib/routes";
import Badge from "../../components/ui/Badge.astro";
import Box from "../../components/ui/Box.astro";
import ChannelHighlight from "../../components/ui/ChannelHighlight.astro";
import InteractiveFeature from "../../components/ui/InteractiveFeature.astro";
import ApiSection from "../../components/ApiSection.astro";
import Faq from "../../components/ui/Faq.astro";
import SecondaryHeader from "../../components/SecondaryHeader.astro";
import { Image } from "astro:assets";

// Import Assets
import heroImg from "../../assets/images/whatsapp-hero-image.webp";
import whatsappHighRes from "../../assets/images/whatsapp_marketing.webp";

// Mockups
import retornoImg from "../../assets/images/mockups/whatsapp-retorno.webp";
import alcanceImg from "../../assets/images/mockups/whatsapp-alcance.webp";
import conversaoImg from "../../assets/images/mockups/whatsapp-conversao.webp";
import possibilidadesImg from "../../assets/images/mockups/whatsapp-possibilidades.webp";

import boxWhatsAppImg from "../../assets/images/boxes-whatsapp-image.webp";
import boxWhatsAppMobileImg from "../../assets/images/boxes-whatsapp-image-mobile.webp";
---

<BaseLayout
  seo={{
    title: "WhatsApp Marketing",
    description: "Amplie a comunicação da sua empresa com WhatsApp.",
  }}
>
  <Hero
    id="whatsapp-marketing"
    class="bg-surface-default relative overflow-hidden"
  >
    <!-- Glow roxo -->
    <div
      class="pointer-events-none absolute -bottom-[50px] md:-bottom-[220px] left-[5%] md:left-2/6 w-[150px] h-[150px] md:w-[428px] md:h-[428px] rounded-full bg-brand-secondary blur-[50px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>

    <!-- Glow rosa -->
    <div
      class="pointer-events-none absolute -bottom-[80px] md:-bottom-[364px] right-[5%] md:right-0 w-[200px] h-[200px] md:w-[800px] md:h-[800px] rounded-full bg-brand-primary blur-[70px] md:blur-[100px] opacity-60 md:opacity-100"
    >
    </div>
    <div
      class="w-full lg:w-1/2 flex flex-col items-start gap-6 md:gap-8 lg:gap-4 xl:gap-8 relative z-10"
    >
      <Badge text="Parceira Oficial do WhatsApp" image="whatsapp-logo" />
      <div class="flex flex-col gap-4 md:gap-6 lg:gap-4 xl:gap-6 items-start">
        <Heading as="h1">
          Conte com o canal mais usado do Brasil para vender!
        </Heading>
        <p class="text-body-md text-text-secondary max-w-[500px]">
          Amplie a comunicação da sua empresa<br /> com WhatsApp.
        </p>
      </div>
      <Button variant="primary" icon="arrow-right" href={ROUTES.CONTATO}
        >Comece agora</Button
      >
    </div>
    <div class="w-[90%] lg:w-[420px] relative z-10">
      <Image
        src={heroImg}
        alt="Plataforma Disparo Pro"
        class="w-auto h-auto"
        loading="eager"
        fetchpriority="high"
        width={420}
        format="webp"
        quality="mid"
      />
    </div>
  </Hero>

  <SecondaryHeader variant="cta" />

  <Section
    class="flex flex-col items-center justify-center"
    containerClass="flex flex-col gap-8 lg:gap-12"
  >
    <div
      class="mx-auto w-full xl:max-w-3/4 flex flex-col items-center justify-center text-center gap-4"
    >
      <Heading as="h2">O WhatsApp impulsiona o seu negócio!</Heading>
      <p class="text-body-md text-text-secondary max-w-[500px]">
        Ideal para modernizar sua comunicação, o WhatsApp se tornou o canal
        favorito das empresas brasileiras.
      </p>
    </div>

    <div class="flex flex-col gap-4 lg:grid lg:grid-cols-3 lg:gap-5">
      <Box
        variant="primary"
        icon="users"
        title="94%"
        description="dos brasileiros usam WhatsApp para receber mensagens"
      />
      <Box
        variant="primary"
        icon="currency-circle-dollar"
        title="45%"
        description="das empresas vendem mais com WhatsApp"
      />
      <Box
        variant="primary"
        icon="seal-check"
        title="88%"
        description="dos clientes preferem contato pelo WhatsApp"
      />
    </div>
  </Section>

  <div class="bg-surface-muted w-full">
    <Section>
      <div class="flex flex-col gap-6 lg:gap-12">
        <Heading as="h2"
          >Mais que envio: com a Disparo Pro, você transforma disparos em
          interações!</Heading
        >
        <ChannelHighlight
          items={[
            {
              icon: "arrows-out",
              title: "Completo",
              description: "Visualize respostas enviadas pelos seus clientes",
            },
            {
              icon: "chat-circle-dots",
              title: "Prático",
              description: "Responda seus clientes sem sair da plataforma",
            },
            {
              icon: "bell",
              title: "Ágil",
              description: "Seja notificado em tempo real",
            },
          ]}
          imageSrc={whatsappHighRes}
          imageAlt="WhatsApp Marketing"
          buttonText="Conheça a plataforma!"
          buttonHref={ROUTES.LOGIN}
        />
      </div>
    </Section>
  </div>

  <Section containerClass="flex flex-col gap-6 lg:gap-12">
    <div class="flex flex-col gap-4 lg:gap-6">
      <Heading as="h2">Com WhatsApp, o retorno é garantido!</Heading>
      <p class="text-body-md text-text-secondary max-w-[500px]">
        Diversas possibilidades de uso para o seu negócio.
      </p>
    </div>
    <InteractiveFeature
      items={[
        {
          icon: "chat-circle-dots",
          title: "Mais retorno",
          description: "Garanta até 47% de taxa de resposta.",
          image: retornoImg,
        },
        {
          icon: "user-circle-plus",
          title: "Mais alcance",
          description: "Atinja mais de 147 milhões de usuários.",
          image: alcanceImg,
        },
        {
          icon: "shopping-bag",
          title: "Mais conversão",
          description: "Converta até 40% da sua audiência.",
          image: conversaoImg,
        },
        {
          icon: "layout",
          title: "Um canal, diversas possibilidades",
          description: "WhatsApp, RCS, SMS, Voz e E-mail em um só lugar.",
          image: possibilidadesImg,
        },
      ]}
      buttonText="Conheça a plataforma!"
      buttonHref={ROUTES.LOGIN}
    />
  </Section>

  <div class="bg-brand-soft w-full">
    <Section>
      <div class="flex flex-col gap-6 lg:gap-12">
        <div class="flex flex-col gap-4 lg:gap-6">
          <Heading as="h2"
            >Crie e dispare campanhas de comunicação com poucos cliques</Heading
          >
          <p class="text-body-md text-text-secondary max-w-[500px]">
            Conheça as funcionalidades que esperam por você.
          </p>
        </div>

        <div
          class="flex flex-col lg:flex-row gap-6 xl:gap-12 items-start justify-center"
        >
          <Image
            src={boxWhatsAppImg}
            alt="Pessoa feliz utilizando o telefone"
            class="hidden lg:block w-full max-w-[440px] h-[686px] rounded-2xl bg-cover"
            width={440}
            height={686}
            format="webp"
            quality="mid"
          />
          <Image
            src={boxWhatsAppMobileImg}
            alt="Pessoa feliz utilizando o telefone"
            class="block lg:hidden w-full rounded-2xl"
            width={600}
            format="webp"
            quality="mid"
          />
          <div class="flex-1 grid grid-cols-1 md:grid-cols-2 gap-6">
            <Box
              variant="tertiary"
              icon="gear"
              title="Gerenciamento Completo"
              description="Crie, agende e acompanhe status em tempo real"
            />
            <Box
              variant="tertiary"
              icon="chat-circle-dots"
              title="Caixa de Mensagens"
              description="Acompanhe seu histórico de mensagens"
            />
            <Box
              variant="tertiary"
              icon="users"
              title="Controle de Contatos"
              description="Adicione manualmente ou importe listas em massa"
            />
            <Box
              variant="tertiary"
              icon="layout"
              title="Biblioteca de Modelos"
              description="Desenvolva modelos de mensagens personalizados"
            />
            <Box
              variant="tertiary"
              icon="lightning"
              title="Praticidade Garantida"
              description="Receba notificações de mensagens em tempo real"
            />
            <Box
              variant="tertiary"
              title="Comece já!"
              description="Aproveite dezenas de benefícios agora."
              buttonHref={ROUTES.CONTATO}
              buttonText="Receba um contato"
            />
          </div>
        </div>
      </div>
    </Section>
  </div>

  <Section>
    <ApiSection
      title="Integre nossa API de WhatsApp ao seu sistema!"
      description="Com Disparo Pro, você tem acesso a uma API de WhatsApp Oficial com integração facilitada."
    />
  </Section>

  <Section>
    <Faq
      title="Perguntas Frequentes"
      description="Solucione suas principais dúvidas sobre vendas com WhatsApp."
      items={[
        {
          question: "Como criar uma conta no WhatsApp Business?",
          answer:
            "Para criar uma conta, basta baixar o aplicativo WhatsApp Business na Google Play Store ou Apple App Store, inserir o número de telefone da sua empresa e seguir o processo de verificação por SMS ou ligação. Para utilizar a API Oficial com todos os recursos da Disparo Pro, nós guiamos você em todo o processo de aprovação junto ao Meta.",
        },
        {
          question: "Para quem são indicadas as mensagens de WhatsApp?",
          answer:
            "O WhatsApp é indicado para empresas de todos os setores que desejam humanizar o atendimento, aumentar a conversão de vendas e manter uma comunicação direta e eficiente com seus clientes. Ideal para envio de promoções, alertas de segurança, confirmações de agendamento e suporte em tempo real.",
        },
        {
          question:
            "Mensagens enviadas para números errados e/ou desativados serão cobradas?",
          answer:
            "Na Disparo Pro, você possui total transparência. O sistema identifica números inválidos e evita o desperdício de créditos. Além disso, nossa plataforma oferece relatórios detalhados para que você possa limpar sua base de contatos constantemente.",
        },
      ]}
    />
  </Section>
</BaseLayout>
