---
import { cx } from "../../lib/utils";
import { Image } from "astro:assets";
import Button from "./Button.astro";
import { ArrowRight } from "@lucide/astro";
import Heading from "./Heading.astro";

export interface Props {
  variant?: "primary" | "secondary" | "tertiary";
  class?: string;
  icon?: string | any;
  iconAlt?: string;
  title?: string;
  description?: string;
  buttonHref?: string;
  buttonText?: string;
}

const {
  variant = "primary",
  class: className,
  icon,
  iconAlt = "",
  title,
  description,
  buttonHref,
  buttonText,
  ...rest
} = Astro.props;

const baseClass =
  "w-full flex flex-col items-start gap-6 rounded-lg py-8 px-6 text-left transition-all hover:opacity-90";

const variants = {
  primary: "bg-surface-muted text-hero",
  secondary: "bg-transparent border border-border-default",
  tertiary:
    "bg-[linear-gradient(180deg,var(--color-brand-soft)_0%,rgba(255,255,255,0.19)_100%)]",
};

const titleStyles = {
  primary: "text-hero",
  secondary: "text-body-lg",
  tertiary: "text-body-lg",
};

const classes = cx(baseClass, variants[variant], className);
---

<div class={classes} {...rest}>
  {
    icon &&
      (typeof icon === "string" ? (
        <img
          src={icon}
          alt={iconAlt}
          class="w-[52px] h-[52px] object-contain"
        />
      ) : (
        <Image
          src={icon}
          alt={iconAlt}
          class="w-[52px] h-[52px] object-contain"
        />
      ))
  }

  <div class="flex flex-col gap-4">
    {
      title && (
        <span class={cx("font-bold", titleStyles[variant])}>{title}</span>
      )
    }

    {
      description && (
        <p class="text-body-md text-text-secondary leading-relaxed">
          {description}
        </p>
      )
    }
    <slot />
  </div>

  {
    buttonHref && (
      <Button variant="secondary" href={buttonHref} class="w-full">
        {buttonText}
      </Button>
    )
  }
</div>
