---
import { cx } from "../../lib/utils";
import IconComponent from "../Icon.astro";

export interface Props {
  href?: string;
  variant?: "primary" | "secondary" | "outline" | "white";
  class?: string;
  icon?: any;
  target?: string | boolean;
  type?: "button" | "submit" | "reset";
  id?: string;
}

const {
  target,
  href,
  variant = "primary",
  class: className,
  icon: Icon,
  ...rest
} = Astro.props;

const targetValue =
  typeof target === "string" ? target : target ? "_blank" : undefined;
const rel = targetValue === "_blank" ? "noopener noreferrer" : undefined;

const baseClass =
  "cursor-pointer inline-flex items-center justify-center font-regular transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2";

const variants = {
  primary: `
  bg-brand-primary text-white
  rounded-lg px-6 py-2
  text-body-md flex items-center gap-6
  transition-all duration-500 ease-[cubic-bezier(0.4,0,0.2,1)]
  hover:shadow-[0_0_0_3px_rgba(235,70,153,0.25)]
`,

  secondary: `
  bg-brand-primary text-white
  rounded-lg px-4 py-2
  text-button-sm
  transition-all duration-500 ease-[cubic-bezier(0.4,0,0.2,1)]
  hover:shadow-[0_0_0_2px_rgba(235,70,153,0.2)]
`,

  outline: `
  border border-text-primary
  bg-transparent
  text-text-primary
  rounded-lg px-4 py-2
  text-button-sm
  transition-all duration-500 ease-[cubic-bezier(0.4,0,0.2,1)]
  hover:bg-text-primary
  hover:text-white
`,

  white: `
  bg-surface-default text-text-primary
  rounded-lg px-6 py-2
  text-body-md flex items-center gap-6
  transition-all duration-500 ease-[cubic-bezier(0.4,0,0.2,1)]
  hover:shadow-[0_0_0_3px_rgba(255,255,255,0.3)]
`,
};

const classes = cx(baseClass, variants[variant], className);

const isIconName = typeof Icon === "string";
---

{
  href ? (
    <a href={href} target={targetValue} rel={rel} class={classes} {...rest}>
      <slot />
      {(variant === "primary" || variant === "white") &&
        Icon &&
        (isIconName ? (
          <IconComponent
            name={Icon}
            size={20}
            type="regular"
            variant={variant === "primary" ? "secondary" : "muted"}
            class="ml-2"
          />
        ) : (
          <Icon class="ml-2 w-5 h-5" />
        ))}
    </a>
  ) : (
    <button class={classes} {...rest}>
      <slot />
      {(variant === "primary" || variant === "white") &&
        Icon &&
        (isIconName ? (
          <IconComponent
            name={Icon}
            size={20}
            variant={variant === "primary" ? "secondary" : "primary"}
            class="ml-2"
          />
        ) : (
          <Icon class="ml-2 w-5 h-5" />
        ))}
    </button>
  )
}
