---
import { cx } from "../../lib/utils";
import Button from "./Button.astro";
import Heading from "./Heading.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export interface Props {
  id?: string;
  badge: string;
  title: string;
  features: string[];
  buttonText: string;
  buttonHref?: string;
  imageSrc: string | ImageMetadata;
  imageAlt: string;
  reverse?: boolean;
  class?: string;
}

const {
  id,
  badge,
  title,
  features,
  buttonText,
  buttonHref = "#",
  imageSrc,
  imageAlt,
  reverse = false,
  class: className,
} = Astro.props;
---

<div
  id={id}
  class={cx(
    "flex flex-col items-start lg:items-stretch justify-between gap-12 lg:gap-20 bg-surface-default px-4 lg:px-16 py-8 lg:py-12 rounded-2xl overflow-hidden",
    !reverse ? "lg:flex-row items-center" : "lg:flex-row-reverse",
    className,
  )}
>
  <div
    class="flex flex-col justify-center items-start gap-8 w-full px-8 lg:px-0 lg:w-2/5"
  >
    <div class="flex flex-col gap-4">
      <div class="bg-brand-soft px-4 py-2 rounded-lg max-w-fit">
        <span class="text-brand-primary font-semibold text-body-sm">
          {badge}
        </span>
      </div>

      <Heading as="h2" variant="primary">
        {title}
      </Heading>
    </div>

    <ul class="flex flex-col gap-3">
      {
        features.map((feature) => (
          <li class="flex items-start gap-3 text-text-secondary text-body-md lg:text-body-lg">
            <span class="mt-2.5 shrink-0 w-1.5 h-1.5 rounded-full bg-current opacity-60" />
            <span class="leading-tight">{feature}</span>
          </li>
        ))
      }
    </ul>

    <Button href={buttonHref} variant="primary" icon="arrow-right">
      {buttonText}
    </Button>
  </div>

  <div class="lg:w-1/2 w-full flex items-center justify-center">
    <div class="relative w-full overflow-hidden flex items-center justify-center">
      <Image
        src={imageSrc as any}
        alt={imageAlt}
        class="w-full h-full object-contain aspect-4/3 lg:aspect-auto"
        width={1000}
        height={800}
        format="webp"
        quality="high"
      />
    </div>
  </div>
</div>
